body{
    background-color: rgb(20,23,26);
}

.titlez{
    font-size: 50px;
    text-align: center;
    background-color: rgb(101,119,134);
    overflow: hidden;
    font-weight: bold;
}

.homepageInfo{
    color: floralwhite;
    font-size: 30px;
    text-align: center;
}

.searchBar{
    color: floralwhite;
    font-size: 30px;
    text-align: center;
    
}

.searchBar input{
    padding: 15px 25px 15px 15px;
    width: 95%;
}
footer{
    background-color: rgb(101,119,134);
    font-size: 15px;
    
}
footer ul{
    list-style-type:none;
    padding: 15px 15px 15px 15px;
}