<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="main.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>contact</title>
</head>
    <body>
        <div class="titlez">
            <a > Twitalytics </a>
        </div>
        
        <div class="nav">
            <a class="home" href="homepage.html">Home</a>
            <a class="about" href="about.html">About</a>
            <a class="current" href="contact.html">Contact</a>
            <input type="text" placeholder="Search CEO here ">
        
        </div>

        

</body>
</html>