<!DOCTYPE html>
<html lang="en">
<head>
    <!--{{ url_for('static',filename='styles/main.css') }}-->
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type= "text/css" href="../static/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitalytics Home</title>
</head>
<body>
    <div class="titlez">
        <a > Twitalytics </a>
    </div>
    
    <div class="homepageInfo">
        <br>
        <br>
        <a> Welcome to Twitalytics the web tool showing you impact of social media on the stock market.
            <br>
            Twitalytics compairs high profile CEO's tweets with their stock price to show you how influencial social media can be on the stock market.
        </a>
    </div>

    <div class="searchBar">
        <br>
        <a>
            Please enter the name of the CEO you wish to search!
        </a>
        <br>
        <input type="text" placeholder="CEO name">
    </div>
    <footer>
        <ul>
            <li>
                Created for OakHacks
            </li>
            <li>
                About the Creators? Scan bellow
            </li>
            
        </ul>
    </footer>
</body>
</html>