<!DOCTYPE html>
<html lang="en">
<head>
    <!--{{ url_for('static',filename='styles/main.css') }}-->
    <link rel="stylesheet" type= "text/css" href="../static/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitalytics Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Domine&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    
</head>
<body>
    
    <div class="titlez">
        <a > Twitalytics </a>
    </div>
    
    <div class="homepageInfo">
        <br>
        <br>
        <a> Welcome to Twitalytics the web tool showing you impact of social media on the stock market.
            <br>
            Twitalytics compairs high profile CEO's tweets with their stock price to show you how influencial social media can be on the stock market.
        </a>
    </div>

    <div class="searchBar">
        <br>
        <a>
            Please enter the name of the CEO you wish to search!
        </a>
        <br>
        <input type="text" placeholder="CEO name">
        <br>

    </div>

    <div>
        <canvas id="mixed-chart" width="800" height="450"></canvas>
        <script src="customJS.js"></script>
        
    </div>
        
    <footer>
        <l>
            <li>
                <a href="https://www.oakhacks.com/">Created for OakHacks</a>
            </li>
            <li>
                About the Creators? Add image cards for both peeps here
            </li>
            
        </ul>
    </footer>
</body>
</html>